<a href="https://colab.research.google.com/github/yelenana/machine_learning/blob/main/Rybchynska_Olena_%22HW6_%D0%A4%D1%83%D0%BD%D0%BA%D1%86%D1%96%D1%97_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Функція з параметром**

Створіть функцію `show_menu()`, яка приймає перелік страв, наприклад ['Піца', 'Паста', 'Салат'] і виводить меню ресторану в наступному вигляді:
```
=== МЕНЮ ===
1. Піца
2. Паста
3. Салат
=============
```

Викличте цю функцію на списку ["Суп грибний", "Котлета по-київськи", "Лимонад"].

In [ ]:
def show_menu(menu):
    print("=== МЕНЮ ===")
    for i, item in enumerate(menu):
        print(f"{i+1}. {item}")
    print("==============")

menu = ["Суп грибний", "Котлета по-київськи", "Лимонад"]
show_menu(menu)

=== МЕНЮ ===
1. Суп грибний
2. Котлета по-київськи
3. Лимонад
==============


---

**2. Функція з параметром**

Створіть функцію `print_square(n)`, яка виводить квадрат числа.

Наприклад: `print_square(5)` → "Квадрат числа 5 = 25"

Викличте її з різними числами.

In [12]:
def print_square(n):
  print(f"Квадрат числа {n} = {n**2}");

print_square(5)
print_square(10)
print_square(3)

Квадрат числа 5 = 25
Квадрат числа 10 = 100
Квадрат числа 3 = 9


---

**3. Функція з поверненням значення**

Створіть функцію `multiply(a, b)`, яка повертає добуток двох чисел.

Викличте функцію на власноруч заданих значеннях та виведіть результат.

In [ ]:
def multiply(a, b):
  return a * b;

print(multiply(2, 5))

10


---

**4. Функція пошуку максимумального значення**

Створіть функцію `find_max(numbers)`, яка:
- Приймає список чисел
- Повертає найбільше число в списку

Протестуйте на списку `[15, 42, 8, 23, 56, 19]`.

In [10]:
def find_max(numbers):
  return max(numbers)

print(find_max([15, 42, 8, 23, 56, 19]))

56


---

**5. Функція з умовами**

Створіть функцію `check_grade(grade)`, яка:
- Приймає оцінку (число)
- Повертає "Здав" якщо grade >= 60
- Повертає "Не здав" якщо grade < 60

Протестуйте на різних оцінках.

In [9]:
def check_grade(grade):
  return "Здав" if grade >= 60 else "Не здав"

print(check_grade(50))
print(check_grade(80))
print(check_grade(59))
print(check_grade(60))

Не здав
Здав
Не здав
Здав