<a href="https://colab.research.google.com/github/yelenana/machine_learning/blob/main/Rybchynska_Olena_%22HW4_%D0%A6%D0%B8%D0%BA%D0%BB_for_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Цикл for - базовий**

Використовуючи цикл `for`, виведіть числа від 1 до 7 включно використовуючи функцію range.

In [22]:
for i in range(7):
  print(i)

0
1
2
3
4
5
6


---

**2. Цикл for по списку**

Дано список:

In [4]:
names = ["Олег", "Анна", "Іван", "Марія"]


Використовуючи цикл, виведіть кожне ім'я з привітанням: "Привіт, [ім'я]!"

In [16]:
for i in names:
  print(f"Привіт, {i}")

Привіт, Олег
Привіт, Анна
Привіт, Іван
Привіт, Марія


---

**3. Цикл з enumerate**

Дано список оцінок:

In [17]:
grades = [85, 92, 78, 95, 88]


Використовуючи `enumerate`, виведіть кожну оцінку з номером: "Студент 1: 85 балів"

In [18]:
for i,grade in enumerate(grades):
  print(f"Студент {i+1}: {grade} балів")

Студент 1: 85 балів
Студент 2: 92 балів
Студент 3: 78 балів
Студент 4: 95 балів
Студент 5: 88 балів

**4. Сума парних чисел**

Напишіть програму, яка обчислює суму всіх парних чисел від 1 до 20 включно.

In [21]:
cumulative = 0
for i in range (2,20,2):
  cumulative = cumulative + i
  print(cumulative)

2
6
12
20
30
42
56
72
90