<a href="https://colab.research.google.com/github/yelenana/machine_learning/blob/main/Rybchynska_Olena_%22HW1_%D0%97%D0%BC%D1%96%D0%BD%D0%BD%D1%96_%D1%82%D0%B0_%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%96_%D1%82%D0%B8%D0%BF%D0%B8_%D0%B4%D0%B0%D0%BD%D0%B8%D1%85_%D0%B2_Python_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## HW1. Змінні та основні типи даних в Python

**1. Створення змінних**

Створіть змінні для особистої інформації (кожен пункт оцінюється в 0.5 бала):
- `name` - ваше ім'я (рядок)
- `age` - ваш вік (ціле число)
- `height` - ваш зріст в метрах (дробове число)
- `is_student` - чи є ви студентом (True/False)

Виведіть кожну з цих змінних за допомогою функції `print()`.

In [ ]:
name= "Олена"
age = 42
height = 1,53
is_student = False
print(f"Мене звати {name}, мені {age}, мій зріст {height}, я студентка - {is_student}")

Мене звати Олена, мені 42, мій зріст (1, 53), я студентка - False


---

**2. Арифметичні операції**

Створіть дві змінні: `var1` зі значенням 15, `var2` зі значенням 4.

Обчисліть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Суму
- Різницю
- Добуток
- Ділення
- Цілочисельне ділення
- Залишок від ділення
- Піднесення до степеня

In [ ]:
var1=15
var2=4
print(f"var1+var2={var1+var2}")
print(f"var1-var2={var1-var2}")
print(f"var1*var2={var1*var2}")
print(f"var1/var2={var1/var2}")
print(f"var1//var2={var1//var2}")
print(f"var1%var2={var1%var2}")
print(f"var1**var2={var1**var2}")

var1+var2=19
var1-var2=11
var1*var2=60
var1/var2=3.75
var1//var2=3
var1%var2=3
var1**var2=50625


---

**3. Робота з рядками**

Створіть зміну `last_name`, яка містять ваше прізвище.

Виконайте (кожен пункт оцінюється в 0.5 бала):
- Об'єднайте значення змінних `name` та `last_name` через пробіл в один рядок і збережіть в нову змінну `full_name`
- Виведіть `full_name` великими літерами
- Виведіть `full_name` малими літерами
- Виведіть довжину `full_name`
- Виведіть фразу: "Мене звати [ім'я], мені [вік] років". Вік використайте зі змінної, створеної у вправі 1.

In [ ]:
last_name="Рибчинська"
full_name= name+" "+last_name

print(full_name)
print(full_name.upper())
print(full_name.lower())
print(len(full_name))

Олена Рибчинська
ОЛЕНА РИБЧИНСЬКА
олена рибчинська
16